{% extends '../shared/base.html' %}

{% load static %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-2 border">
        <ul class="nav flex-column h-100">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'favorito-list' %}" class="nav-link">Favoritos</a>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="nav-link">Sair</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastrar</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-12 col-sm-10">
        {% if object_list %}

          {% if user.is_authenticated %}
            <div class="row">
              <div class="col-12  text-center border p-4">
                <h3>Bem vindo {{user.first_name}}!</h3>
              </div>
              <div class="col text-end p-3">
                <a href="{% url 'mangas-create' %}" class="btn btn-primary">Adicionar mangá</a>
              </div>
            </div>
          {% endif %}

          <div class="row">
            {% for manga in object_list %}
              <div class="col-12 col-sm-3 p-0 m-0">
                <div class="card">
                  <div class="card-body d-flex justify-content-between">
                    <a href="{% url 'mangas-detail' manga.id %}">{{ manga.nome }}</a>
                    {% if user.is_authenticated %}
                    <a href="#"><img src="{% static 'mangalist/assets/bookmark.svg' %}" alt="bookmark" /></a>
                  {% endif %}
                  </div>

                  <div class="card-body">
                    {% for generoNome in manga.generos.values %}
                      <strong class="border p-1">{{ generoNome.nome }}</strong>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <h2>Nenhuma informação recuperada!</h2>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
